@font-face {
  font-family: "Anta";
  src: url("/fonts/Anta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  user-select: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

