@font-face {
  font-family: "Anta";
  src: url("/fonts/Anta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  user-select: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.animation {
  position: relative;
  animation: slidein 1s;
}

@keyframes slidein {
  0% {
    left: 800px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
